

#nav{
    position: sticky;
    
    
}



.main-bg{
   position: relative;
   margin: 10px;
   

}


.about{
    margin: 10px;
}

.projects{
    margin: 10px
}

.contacts{
    margin: 10px;
}

.video{
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbXJhZWlkNXJpMTJoa2lwa25uZWtocGpjZHFuN3U4ZXdpeGphaGZpdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Pt9cmfZNAsBvSPxzNr/giphy.gif');
    background-size: cover;
    height: 1000px;
}