
<div class = 'container-flex'>

 

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://placehold.co/400" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Sup..</h5>
                      <p class="card-text"> I am a Software Engineer who has a deep passion with making projects and content with it on Social Media!</p>
                    </div>
                  </div>
                </div>
              </div>

        
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://placehold.co/400" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Skills </h5>
                      <div class="container-flex"> 
                        <div class="row ">

                          <div class="col" id="webdev">
                            <p> ReactJS, AngularJS, Flask,Electron,HTML5, CSS</p>
                          </div>
                          <div class="col" id ='programming'>
                            <p> Python, Java, Javescript, and C++ </p>
                          </div>
                          <div class="col" id ='Creative Work'>
                            <p> Adobe Premiere Pro, Adobe After Effects, AdobePhotoshop, and Adobe Illustrator </p>
                          </div>


                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
