<!-- <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="cs-tab" data-bs-toggle="tab" data-bs-target="#cs-tab-pane" type="button" role="tab" aria-controls="cs-tab-pane" aria-selected="true">CS Projects</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="cc-tab" data-bs-toggle="tab" data-bs-target="#cc-tab-pane" type="button" role="tab" aria-controls="cc-tab-pane" aria-selected="false">Content Creation</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="cs-tab-pane" role="tabpanel" aria-labelledby="cs-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="cc-tab-pane" role="tabpanel" aria-labelledby="cc-tab" tabindex="0">...</div>

  </div> -->




  <div>

    <h1> Projects</h1>


  </div>