<!-- <mat-toolbar color="primary">
  <mat-toolbar-row >


    <div class="'spacer"> 
      <a routerLink="/" mat-menu-item >  <img id="logo" src = "../assets/images/logo.png" alt="My App Logo" /> </a>
      <a id ='txt-nav' routerLink="/projects" mat-menu-item mat-button >Projects</a>
       </div>
   
  </mat-toolbar-row>
</mat-toolbar>
 -->

 <div class="d-flex justify-content-center  fixed-top">

  <nav class="navbar navbar-expand-lg bg-body-tertiary rounded  ">
    <div class="container-fluid">
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
                    <a href = '#hero'   class="navbar-brand" >
            <img id="logo" src = "../assets/images/logo.png" alt="My App Logo" />
          </a>
          <a class="nav-link"  href="#about">About</a>
          <!-- <a routerLink="/"   class="navbar-brand" >
            <img id="logo" src = "../assets/images/logo.png" alt="My App Logo" />
          </a> -->
          <a class="nav-link" href = '#projects '>Projects</a>
          <a class="nav-link" href = '#contacts '>Contact</a>

        </div>
      </div>
      
    </div>
  </nav>
 </div>

